body{
	background-color: black;
	color: white;
}
#cboxOverlay{
	height:100%;
	width: 100%;
	background: black;
	position: fixed;
	top:0;
	left: 0;
	}

.nav-list{
	float:left;
}

/*img{
	height: 0;
	-moz-transition: height .5s;
	-webkit-transition: height .5s;
	transition: height .5s;
}*/
img{
	height: 0px;
	-moz-transition: height .4s;
	-webkit-transition: height .4s;
	transition: height .4s;
}

.click, .click2, .click3{
	height: 200px;
	width: 200px;
	/*border-radius: 100px;*/
	/*background: grey;*/
	text-align: center;
	line-height: 6em;
	/*border: solid white 1px;*/
	-webkit-transition: background: .5s;
	transition: background .5s;
	display: inline-block;
}

.click:hover, .click2:hover, .click3:hover{
	background: black;
	-webkit-transition: background: .5s;
	transition: background .5s;
}



.expand{
	height: 200px;
	-moz-transition: height .4s;
	-webkit-transition: height .4s;
	transition: height .4s;
}	

.expand-web{
	height:100px;
	float: left;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	-moz-transition: height .4s;
	-webkit-transition: height .4s;
	transition: height .4s;
}

.click, .click2, .click3{
	font-family: 'Raleway', sans-serif;
}
.region3{
	height:0;
	
}
