body{
	background-color: black;
	color: white;
}
#cboxOverlay{
	height:100%;
	width: 100%;
	background: black;
	position: fixed;
	top:0;
	left: 0;
	}

img{
	height: 0;
	-moz-transition: height .5s;
	-webkit-transition: height .5s;
	transition: height .5s;
}
.expand{
	height: 200px;
	-moz-transition: height .4s;
	-webkit-transition: height .4s;
	transition: height .4s;
}	

.expand-web{
	height:100px;
	float: left;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	-moz-transition: height .4s;
	-webkit-transition: height .4s;
	transition: height .4s;
}

.click, .click2, .click3{
	font-family: 'Raleway', sans-serif;
}
.region3{
	height:0;
	
}
