@font-face {
    font-family: piersSans;
    src: url(../fonts/PierSans-Medium.otf);
}

@font-face {
font-family: plantagenetCherokee;
    src: url(../fonts/PlantagenetCherokee.ttf);
}

@font-face {
font-family: baskerville;
    src: url(../fonts/Baskerville Old Face);
}

body{
	margin: 0;
	background-image: url('../img/texture.jpg');
	width: 100vw;
}

section{
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

p{
	font-family: 'Libre Baskerville', serif;
	font-size: .9em;
    line-height: 1.4em;
    letter-spacing: .04em;
    max-width: 38em;
	
}

h1{
	font-family: plantagenetCherokee;
	letter-spacing: .3em;
	font-size: 4em;
	color: white;
}

h2 {
	font-family: piersSans;
	letter-spacing: .4em;
	text-transform: uppercase;
	font-size: .9em;
}



input{
	width: 35em;
}

ul{
	text-decoration: none;
	list-style: none;
}

li{
	letter-spacing: .4em;
	
	font-size: .9em;
	font-family: piersSans;
	line-height: 4em;
	text-align: center;
	color: #faf9ef
}

.more{
	height: 0px;
	overflow: hidden;
	margin: 0px;
	transition: height .4s;
}

.expand{
	height: auto;
	transition: height .4s;

}

#intro{
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction:column;
	align-items: center;
	background-image: 
		linear-gradient(rgba(13, 60, 92, 0.5), rgba(13, 60, 92, 0.5)),
		url("../img/bg1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;

}

#intro h2, #process p{
	color: #faf9ef;
}

#nav{
	height: 0;

}

#logo img{
	height: 10vh;
	position:fixed;
	top: 5vh;
	right:5vw;
	color: black;

}

.box{
	height: 30vh;
	margin: 5px;
	width: 30vw;
	background-color: red;
	
}

.blend{
	mix-blend-mode: screen;
	
}

#box-container{
	width: 85vw;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

#box-container div{
	display: flex;
	flex-direction:column;
	align-items:center;
	width: 20vw;

}

#box-container p{
	justify-content: flex-end;
	text-align: left;
}

#box-container img{

	width: 20vw;
	height: auto;
	
}

#approach{
	height: 40vh;
	/*background-color: black;*/
	
	background-image: url('../img/hands.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
}

/*#image-wrapper{
	display: flex;
	flex-direction: row;
	background-image: url('../img/bug.png');
	background-position-x: left;
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-size: 400px;
}*/

/*#image-wrapper div{
	width: 50vw;
	height: 70vh;

}*/

#info-container div{
	position: absolute;
}

#left{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#bug{
	position: absolute;
	left: 0;
	top:323vh;
}


#process{
	display: flex;
	justify-content:center;
	align-items:center;
	background-color: #0c3b5b;

}

#list-title, #process h2{
	color: #faf9ef;
}

#process img{
	width: 27.5vw;
}

#who{
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	background-image: url('../img/wing.png');
	background-size: 30%;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;

}

#who div{
	margin: 10%;
	display: flex;
	flex-direction:column;
	justify-content: flex-start;
}

#footer{
	background-color: #0c3b5b;
	height: 20vh;
	
}