@charset "UTF-8";
/* CSS Document */
html{
  /*overflow-x: hidden;*/ /*WHY DIS BREAK!??!!?*/
}
body {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#79d7db+0,f9ead7+100 */
/*background: #79d7db; /* Old browsers */
/*background: -moz-linear-gradient(top, #79d7db 0%, #f9ead7 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(top, #79d7db 0%,#f9ead7 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to bottom, #79d7db 0%,#f9ead7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79d7db', endColorstr='#f9ead7',GradientType=0 ); /* IE6-9 */
/*
  background: linear-gradient(#79d7db, #f9ead7);
  height:100%;*/
  margin:0;
  overflow-x: hidden;

}
#nav{
  color: white;
  position: absolute;
  width: 100%;
  

}

#intro{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30%;
  font-size: 1.4rem;
  line-height: 1.4;
  font-family: "quicksand";
  color: #E5DBB8;
  background-color: black;
}


#intro-start{
  display: flex;
  background-color: black;
  
}

#nav ul{
  display: flex;
  justify-content: space-around;

}

#nav ul li{
  display: inline
  }

#nav ul li a{
  font-size: 15px;
  list-style: none;
  text-decoration: none;
}

#nav ul li a:hover  color: white;
}

#nav p{
  margin-top: 0;
  text-align: center;

}

#nav.sticky {
  width: 100%;
  position:fixed;
  top:0;
}


#map{
  /*padding-top: 50px;*/
  padding-top: 100px;
  position: relative;

}

#map svg{
  transform: scale(.8);
}

body, html, .main {
    height: 100%;
}
#container{
 /* background: linear-gradient(#79d7db, #f9ead7);*/
  width: 100%;
  /*height:2000px;*/
}
p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
h2{
  font-family: 'Quicksand', sans-serif;
  font-size:30px;
  text-transform: uppercase;
}
h1{
  /*font-family: 'Quicksand', sans-serif;*/
 font-family: 'Rhodium Libre', serif;
  font-size:2.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: .2em;
}
.title h1{
   text-shadow: -2px 5px 3px rgba(43, 39, 53, .7);
}

.title-hover{
  font-size: 1.2em;
  font-family: "Quicksand";
  background-color: black;
}
	 nav {/*position: fixed*/;width: 100%; /*height: 60px*/; left:0px; z-index: 100; background: #020202; padding-top:30px;}
	 nav a {display:block; width:150px; text-align:center; float: left; color: #E5DBB8; font-family: 'Quicksand', sans-serif;}
	img {width:103%; height: auto;} 
	 /*css grid stuff here*/
section {
  display: grid;
        /*background: linear-gradient(#f9ead7, #79d7db, #f9ead7);*/
    /*padding-top:80px; border-bottom: thin grey solid;*/
  height: 100%; /*background: #f2f2f2;*/
  /*grid-gap: 2px;*/
  grid-template-columns: [col1-start] 1fr  [col2-start] 1fr  [col3-start] 1fr [col4-start] 1fr [col5-start] 1fr [col6-end] 1fr;
  /* grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];*/
	grid-template-rows: [row1-start] 1fr [row2-start] 1fr [row3-start] 198px /*[row4-end] 1fr*/;
        /*background-color: #fff;*/
  /*max-height:1000px;*/
  background-image: url(img/hero-megaregions-svg-03.svg);
}

.region{
  transition: all .7s;
}


/*========================THIS MIGHT NOT WORK================================*/
.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #f2f2f2 ;
    border-radius: 5px;
    padding: 10px;
    color: #333;
    }
/*========================END WORKs================================*/    
/*.region:hover{
  transform: scale(1.1);

}*/

/*section img{
  width: 100%;
  z-index: 2;
  bottom: 0;
}*/
.space{
  grid-row: 5/6;
  grid-column:1/7;
  background-color: pink;
  z-index: 9;
  height: 100px;
}
#Layer_1 {
	width: 80%;
	margin-left: 10%;
}

.title-info:hover{
  font-family: "quicksand";
  font-size: 2em;
  background-color: black;
}

#map {
	background-color: #7CCCBF;
	display: block;
	
}
#pc {
  background: linear-gradient(#6c7e7f, #c5d8d8);
}

#iw {   background: linear-gradient( rgba(64, 57, 79, 1)0%,rgba(234, 110, 207,
1)); }

#gp {
  background: linear-gradient( rgba(64, 57, 79, 1)0%,rgba(132, 220, 247, 1));
}

#gl {
  background: linear-gradient( rgba(64, 57, 79, 1)0%,rgba(249, 244, 149, 1));
}

#smb {
  background: linear-gradient( rgba(64, 57, 79, 1)0%,rgba(232, 135, 84, 1));
}

#gc {
  background: linear-gradient( rgba(64, 57, 79, 1)0%,rgba(85, 108, 249, 1));
}

#gn {
  background: linear-gradient( rgba(64, 57, 79, 1)0%,rgba(190, 168, 221, 1));
}


path{
	/*stroke:#D7403E;*/
	stroke-width: 1px;
	transition: 0.2s ease;
}

path:hover, circle:hover {
/*stroke: #7CCCBF !important;*/
stroke-width:2px;
stroke-linejoin: round;
fill: orange !important;
cursor: pointer;
/*transform: scale(1.4);*/
}

{
	display: none;
}



#header-start{
  height: 50px;
  background-color: black;
  color: #E5DBB8;
  text-align: center;
  
}

#header-start p{
  padding-top: 20px;
  margin-top: 0;
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 1.7em;
  letter-spacing: .2em;
  
}

.Pacific_x5F_Coast-a:hover ~ .Gulf_x5F_Coast-a{
    transform: translate(20px, 10px);
	transition: 0.4s ease
}

.Pacific_x5F_Coast-a:hover ~ .Great_x5F_Northeast-a{
    transform: translate(55px, -25px);
	transition: 0.2s ease
}

.Pacific_x5F_Coast-a:hover ~ .Southeast_x5F_Belt-a{
    transform: translate(35px, -5px);
	transition: 0.3s ease
}

.Pacific_x5F_Coast-a:hover ~ .Great_x5F_Lakes-a{
    transform: translate(35px, -25px);
	transition: 0.4s ease
}

.Pacific_x5F_Coast-a:hover ~ .Great_x5F_Plains-a{
    transform: translate(20px, -15px);
	transition: 0.5s ease
}

.Pacific_x5F_Coast-a:hover ~ .Inland_x5F_West-a{
    transform: translate(10px, -2px);
	transition: 0.6s ease
}

.title {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  /*background-color: #e0f4a8;*/
  /*height:30px;*/
  text-align: center;
  padding-top: 20%;
  /*padding-bottom: 10%;*/
}


.hero {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 4;
	grid-row-end: 5;
	/*background-color: #e0f4a8;*/
  /*max-height: 100px;*/
  max-height: 180px;
  width: 100%;
  margin: none;
  z-index: 10;
/*  position: absolute;
  align-self: start;*/

}

.hero img{
  align-items: start;
}

.logo {
  text-align:center;
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 4;
	/*background-color: #bace8d;*/
}
.logo h2{
  letter-spacing: .2em;
  color: #363038;
}
.logo img{
  width:70%;
}
.data-copy {

}
.data {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	/*background-color:#bace8e;*/
}
.data img{
  width:60%;
}

.text {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
/*	background-color: #bace8f;*/
  padding: 0% 10% 0% 24%;
  line-height: 1.3em;
}

#us-map{

}
/*====================THIS MIGHT BE GARBAGE===============*/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*====================END GARBAGE=================*/
#working:hover{

}

footer{
  display: flex;
  height: 135px;
  background-color: white;
  color: black;
  font-family: "Quicksand";
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

footer p{
  font-size: 1rem;
  padding: 0;
  margin: 7px 0;
  font-family: "Quicksand";

}

@media (max-width: 1360px) {

  .hero {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  /*background-color: #e0f4a8;*/
  /*max-height: 100px;*/
  max-height: 155px;
  width: 100%;
  margin: none;
  z-index: 10;
/*  position: absolute;
  align-self: start;*/
}

}

@media (max-width: 1172px) {

  .hero {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  /*background-color: #e0f4a8;*/
  /*max-height: 100px;*/
  max-height: 123px;
  width: 100%;
  margin: none;
  z-index: 10;
/*  position: absolute;
  align-self: start;*/
}
img {width:100%; height: auto;} 

/*section{
  max-height:84vh;
}
*/
}

@media (max-width: 935px) {

  .hero {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  /*background-color: #e0f4a8;*/
  /*max-height: 100px;*/
  max-height: 81px;
  width: 100%;
  margin: none;
  z-index: 10;
/*  position: absolute;
  align-self: start;*/
}

}

@media (max-width: 618px) {

  .hero {
  display:none;
}
section {
  grid-template-columns: 1fr;
  /* grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];*/
  grid-template-rows: [row1-start] 1fr [row2-start] 1fr [row3-start] 1fr  [row4-end] 1fr;
}

}



/*.center {display: block;
    text-align: center;
    width: 200px;
	text-decoration:none;
	color:#3E6377;}
.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#f2f2f2;
	border-radius:5px;
	padding:10px;
	color:#333;
	font-size:21px;
}
path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 50px;
  font-family: arial;
  
}
    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;

    }

    .hero {
        grid-column: col1-start / col3-start;
        grid-row: row1-start ;
    }
    .data {
        grid-column: col3-start ;
        grid-row: row1-start / row2-end;
    }
    .logo {
        grid-column: col1-start;
        grid-row: row2-start ;
    }
    .type {
        grid-column: col2-start ;
        grid-row: row2-start ;
    }*/