body{
	background-color: black;
}
.container img{
	display: flex;
	height: 100%;
	justify-content: center;
	border:solid white 3px;
	padding: 6px;


}
 /*a{
 	display: flex;
 	justify-content: center;

}*/

.container	{
	margin-bottom: 40px;
	height: 95vh;
	display: flex;
	justify-content: center;
	background-color: black;

}

.fucker{
	display: flex;
	justify-content: center;
}