/*=============GLOBAL RULES===========*/
.container{
	display: flex;
	flex-direction:column;
	align-items:center;
	min-height: 400px;
	padding:50px;
}

.row{
	display: flex;
	flex-direction: row;
}

.headline{
	font-size: 90px;
	color: white;
	z-index: 500;
}

.subhead{
	font-size: 65px;
	color: white;
	z-index: 500;
	width: 75%;
}

.clear{
	clear: both;
}

p {
	font-size: 19px;
	letter-spacing: .05px;
	font-family: 'Open Sans', sans-serif;
	line-height: 28px;
}

.attribution{
	font-size: 17px;
	letter-spacing: .2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.quote{
	font-size: 50px;
	padding: 0 200px;
}

/*=============LEAD RULES===========*/
#fact1 {

}

.leadcontainer{
	display: flex;
	flex-direction:column;
	align-items:center;
	min-height: 800px;
}

#vid-1{
	position: absolute;
	margin-top:-100px;
}

#intro{
	height:2000px;
}

/*====================INTRO RULES==============*/
#intro-sent{
	position: absolute;
	z-index: 9;
	font-size: 4em;
	color: white;
	margin-top: 1200px;
	padding: 0 200px;
}

#map{
	height: 500px;
	width: 500px;
	padding-top: 50px;
}

/*=============HISTORY RULES===========*/
#history{
	background:black;
	color:white;
}

#map-vid{
	position: absolute;
	z-index: 99;
}

#history img{
	width: 40%;
	padding:20px;
}

#sticky-history{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#history-text{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
}

#history-pics{
	display:flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;

}

#block-container{
	margin-top: 200px;
	display: flex;
	flex-direction:column;
	align-items:center;
}

#vid-container{
	/*margin-top:140px;*/
	/*display: flex;
	flex-direction:column;
	align-items:center;*/
	margin: 0 auto;
}

/*.bullet{
	height:750px;

}*/

/*.bullet p{
	font-size: 40px;
}*/

#vid-2{
	display: block;
	margin: 0 auto;
	width:50%;
	padding: 40px 0;
}

.dam-copy{
	font-size: 35px;
	padding: 30px 200px 0 200px;
}


/*=============DATA RULES===========*/
#data {
	height: 100px;
}

.row {
	display: flex;
	flex-direction: row;
}

#long{
	height: 3000px;
}

/*=============SEDIMENT RULES===========*/


/*=============LOOKING AHEAD RULES===========*/
