.intro{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  width: 75vw;
  margin: 0 auto;
  margin-top: 3%;
}

.info{
  line-height: 2em;
}

.info span{
  font-weight: 700;
}

#work-area{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#project-details{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 
  max-width:80%;
}

.work, .placeholder{
  
  
  margin:1%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 75vw;
}
.work-sm{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.work-container{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.description{
  max-width: 32em;
  line-height: 1.4em;
}

.work img{
  width: 85vw;  
}

#video{
  height: 45vw;
  width: 85vw;
}

.work-sm img{
  /*width: 100%;*/
  height: 29.5vw;
}

.placeholder{
  width: 75vw;
  height: 50vw;
  background-color: pink;
}



/*.work-sm{
  width: 37vw;
  height: 50vw;
  border: solid 1px black;
  background-color: pink;
  
}
*/
.work-container{
  width: 75vw;
/*  height: 30vw;*/

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}


@media (max-width: 1025px){
  .work-container{
    flex-direction: column;
    height: 

  }
  .work-sm{
    width: 100%;
    
  }

  .work-sm img{
    width: 100%;
    height: auto;
  }

  .alpha{
    margin-bottom: .5%;
  }

  .beta{
    margin-top: .85%;
  }
}