

.gallery{
	display: flex;
	justify-content: center;
	align-items: center;
}
.row{
	display: flex;

}



.row div{
	
	width: 50vw;
	height: 40vw;
	/*margin: 20px;*/
	
	transition: opacity .3s;
}

.bg:hover div{
	opacity: .2;
	transition: opacity .5s
}


/*#nav-top h1{
	font-size: 1.5em;
}*/


.work, .placeholder{
  
  
  /*margin:1%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 75vw;
}


.bg div{
	background-position: center;
	background-repeat: no-repeat;
}

#mega div{
	background-image: url("../img/mega/hero.png");
	background-size: 110%;
}


#posters div{
	background-image: url("../img/posters/poster.png");
	background-size: 150%;
	background-position-y:0px; 
	background-color: black;
}

#mckenna div{
	background-image: url("../img/mckenna/hero.png");
	background-size: 105%;
}

#liminal div{
	background-image: url("../img/liminal/hero.png");
	background-size: 105%;
}

#elytra div{
	background-image: url("../img/elytra/hero.png");
	background-size: 105%;
}

#motion div{
	background-image: url("../img/motion/hero.png");
	background-size: 120%;
}



.headline{
	width: 10em;
	line-height: 1.3em;
	/*font-family:*/ 
	font-size: 3.5em;
	color:white;
    display: none;
    font-family: 'Montserrat', sans-serif; 
    justify-content: center;
    align-items: center;
}

 #posters .headline{
	color: white;
}

.reveal{
	position: absolute;
	display: block;
	text-align: center;
	margin: 0 auto;
	size: 1rem;
}


.picture{
	width: 160%;
	height:auto;
	transform: rotate(90deg);
}



.one{
	background-color: black;
	margin: 12.5px 12.5px 12.5px 25px;
}

.two{
	background-color: black;
	margin: 12.5px 25px 12.5px 12.5px;
}

.one.alpha, .two.alpha{
	margin-top:25px;
	
}

div.one.omega{
	width: 47vw;
}

.one.omega, .two.omega{
	margin-bottom: 25px;
}

#footer{
 	height: 10vh;
 	position: absolute;
 	width: 100%;
}

@media (max-width: 1025px){
	.row{
		margin: 0 auto;
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
		/*width: 80vw;*/
		/*height: 50vw;*/
	}
	.row div{
		/*margin: 25px;*/
		width: 90vw;
		height: 65vw;

	}

	div.one.omega{
		width: 90vw;
	}

	#liminal{
		background-size: 100%;
	}

	.one, .two{
		margin: 12.5px 0;
	}

	#liminal{
		background-position: 10%;
	}



	.one, .two, .one.omega, .two.omega, .one.alpha, .two.alpha{
		/*width: 100%;
		margin: 25px;*/

	}
}
