/*============================FONTS==========================*/
@font-face {
    font-family: piersSans;
    src: url(../fonts/PierSans-Black.otf);
}

@font-face {
font-family: plantagenetCherokee;
    src: url(../fonts/PlantagenetCherokee.ttf);
}

@font-face {
font-family: baskerville;
    src: url(../fonts/Baskerville Old Face);
}

section{
	height: 120vh;
	width: 100vw;
}

h1{
	font-size: 2em;
	font-family: piersSans;
	letter-spacing: .7em;
}

p{
	font-family: baskerville;

}

#nav{
	height: auto;

}

#intro{
	background: url("../img/bone-background.png");
	background-size: cover;
}


#facts{
	background-color: black;
	color:white;
	display: flex;
	justify-content: center;
	flex-direction:column;
	align-items: center;
}

#solution, #intro{
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}

#facts p{
	font-size: 1.4em;
	max-width: 32em;
	margin: 0 auto;
}


#hero-text{
	font-size: 1.5em;
	letter-spacing: .1em;
	text-align: center;
}

.tag{
	font-size: 1.5em;
}

.name{
	font-family: plantagenetCherokee;
	height: 7vh;
	letter-spacing: .5em;
	font-size: 5em;

}

#wing-row{
	margin-top: 7%;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
}

#wing-row img{
	height: 10vh;
	opacity: .5;
}
