section{
	margin: 10px 0;
	font-size: 24px;
	font-family: "open sans";
}

.image img{
	width: 100%;
}


.left{
	float: left;
	height: 100%;
	width: 40%;
	margin-left: 5%
}

.right{
	float: right;
	height: 100%;
	width: 40%;
	margin-right: 5%;

}

.center{
	margin: 0 28%;
}

.clear{
	clear: both;
}

.leadin{
	position: absolute;
	font-family: "abril fatface";
	font-size: 10vh;
	top: 44%;
	left: 10%;
}

.portrait img{
	width: 100%;
}

.video{
	width: 100%;
}


.mod_quote{
	color: black;
	font-size: 75px;
	font-family: "abril fatface";

}

.alt_quote{
	color: black;
	font-size: 150px;
}

.quote{
	font-family: "abril fatface";
	font-size: 150px;
	height: 300px;
	color: white;
}


.fullwidth{
	z-index: -9999;
}

.relaxed{
	margin: 0 19%;
}

#v0 {
  width: 100%;
}

.sec-ten p{
	line-height: 75px;
	font-size: 70px;
}

.sec-twelve{
	font-size: 50px;
	color: black;
}

.sec-seven p{
	font-size: 65px;
	line-height: 70px;
}

.quote_new{
	font-size: 60px;
	color: white;
	font-family: "abril fatface";
}

.drug-title{
	font-family: 
}

#smaller{
	font-size: 65px;
	color: black;
}

.quote_two{
	font-size: 85px;
	font-family: "abril fatface";
}

#thing{
	font-size: 45px;
}

.white{
	color: white;
}

#thirteenId{
	height: 1500px;
}

#tenId{
	height:2000px;
}

#twoId, #thirteenId{
	height:2600px;
}

#threeId, #tenId, #nineId{
	height: 2900px;
}

#set-height {
  display: block;
  height: 1400px;
}