section{
	margin: 10px 0;
	font-size: 24px;
	font-family: "open sans";
}
#one{
	
}

.image img{
	width: 100%;
}

.two{

}

.three{
	
}

.left{
	float: left;
	height: 100%;
	width: 40%;
	margin-left: 5%
}

.right{
	float: right;
	height: 100%;
	width: 40%;
	margin-right: 5%;
}

.center{
	margin: 0 28%;
}

.clear{
	clear: both;
}

.leadin{
	position: absolute;
	font-family: "abril fatface";
	font-size: 10vh;
	top: 44%;
	left: 10%;
}

.white{
	color: white;
}

.portrait img{
	width: 100%;
}

.video{
	width: 100%;
}


#one{

}

.quote{
	font-family: "abril fatface";
	font-size: 150px;
	height: 300px;
	color: white;
}

#twoId{
	height:2100px;
}

#first{
	z-index: -9999;
}
