

section{
	margin: 10px 0;
	font-size: 24px;
	font-family: "open sans";
}

.image img{
	width: 100%;
}


.left{
	float: left;
	height: 100%;
	width: 40%;
	margin-left: 5%
}

.right{
	float: right;
	height: 100%;
	width: 40%;
	margin-right: 5%;

}

.center{
	margin: 0 28%;
}

.clear{
	clear: both;
}


.leadin{
	position: absolute;
	font-family: "abril fatface";
	font-size: 10vh;
	top: 44%;
	left: 10%;
	}

.right, .left{
	padding: 20px 0;
}

.portrait img{
	width: 100%;
}

.movie video{
	width: 100%;
	min-height: 900px;
}


.mod_quote{
	color: black;
	font-size: 75px;
	font-family: "abril fatface";
}

.alt_quote{
	color: black;
	font-size: 150px;
}

.quote{
	font-family: "abril fatface";
	font-size: 150px;
	height: 350px;
	color: white;
}


.fullwidth{
	z-index: -9999;
}

.relaxed{
	margin: 0 19%;
}

#v0 {
  width: 100%;
}

.sec-ten p{
	line-height: 95px;
	font-size: 90px;
}

.sec-twelve{
	font-size: 50px;
	color: black;
}

.sec-seven p{
	font-size: 65px;
	line-height: 70px;
}

.quote_new{
	font-size: 60px;
	color: white;
	font-family: "abril fatface";
}

.drug-title{
	font-family: "open sans";
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.drug-title span{
}

.vid{
	width: 100%;
	
}

.time{
	width: 100%;
}

.port-title{
	font-family: "abril fatface";
	font-size: 40px;
	text-align: center;
}

.drug-desc{
	font-family:"open sans";
}

#smaller{
	font-size: 53px;
	color: black;
}

.quote_two{
	font-size: 85px;
	color: white;
	font-family: "abril fatface";
}

#drop{
	font-size: 210px;
	font-family: "abril fatface";
	line-height: 70px;
	float: left;
	margin-top: 69px;
}

#short-line{
	line-height: 32px;
}

#thing{
	font-size: 65px;
	line-height: 80px;
}

.white{
	color: white;
}

#thirteenId{
	height: 1500px;
}

#tenId, #sixId{
	height:2000px;

}

#twoId, #thirteenId{
	height:2600px;
}

#threeId, #tenId{
	height: 2900px;
}

#set-height {
	display: block;
	height: 1400px;
}