.red{
	background-color: red;
}

.yellow{
	background-color: yellow;
}

.green{
	background-color: green;
}

.blue{
	background-color: blue;
}

.box{
	font-family: "Brandon Grotesque";
	font-size: 50px;
	text-align: center;
	margin: 0 auto;
	height:800px;
	width: 100%;
}

.box span{
	padding-top: 500px;
}

.par{
	height: 500px;
	width: 100%;
}

.spacer{
	height: 150px;
	background-color: white;
	z-index: 100;
}

.spacer{
	background-color: white;

}

.parallaxParent {
	height: 100vh;
	overflow: hidden;
}

.parallaxParent > * {
	height: 200%;
	position: relative;
	top: -100%;
}

#animation div {
  background-color: black;
  position: absolute;
  left: 50%;
  background-image: url("../img/16938659_1834491583485043_6886616110465108030_n.jpg");
  background-position: center;
  height: 1000px;
  width: 500px;
}

.container{
	height: 1500px;
}